//Colores clientes
$colorPrincipal: rgb(103, 104, 105);
$colorSecundario: rgb(218, 213, 213);
$colorTerciario: rgb(42, 146, 68);
$colorBlanco: rgb(255, 255, 255);
$colorBotonLogin: rgb(43, 48, 56);
//Bodys Locales
$fondoBodyLocal: linear-gradient(to right bottom, $colorPrincipal, $colorSecundario);
$fondoBodyLocalMain: red;
$closePop: white;
//primera parte navegación
//color icono menu tres rayitas
$colorIconoMenu: $colorBlanco;
$ColorMenuSup: $colorBlanco;
$colorLogo: $colorBlanco;
//Color Menu izquierda
$colorMenuIzq: $colorBlanco;
$colorContadorAbm: $colorBlanco;
//menuDesplegables
$fondoUnoMenuDesplegable: $colorPrincipal;
//form Individual
$fondo-formIndividual-local: linear-gradient(to right, $colorSecundario, $colorPrincipal);
$fondo-formIndividual-adjuto: rgb(203, 208, 223); //Formulario adjunto
$fondo-cartel: rgb(232, 231, 233);
//botoneraIndividual
$colorFondoBotoneraInd: rgb(212, 223, 230);
$botoneraTablaSeguridad: white;
//Impresion
$color-barra-superior: rgb(0, 0, 0);
$borde-barra-sup: rgb(0, 0, 0);
$bordeBoton: rgb(0, 0, 0);
$shadowBotonInicio: rgb(36, 36, 36);
$alto-imgLogin: 4rem;
$logoEmpresa: 2rem;
$ubicacionImagen: 1.2rem;
$fondoInicio: #a6a6a6;
$fondoBody: #a6a6a6;
$hoverOlvidaste: rgb(0, 0, 0);
$colorNavegacionPrincipal: rgb(0, 0, 0);
$colorNavegacionPrincipalBorde: rgb(0, 0, 0);
$withlogoEmpresa: 2rem;
$colorMenu: rgb(255, 255, 255);
$colorColeccionIndividual: "";

//Estos colores definen el menuu de arriba a la izquierda del usuaior
$colorNavusuarioIzquierda: rgb(36, 36, 36); //color del fondo
$colorNavusuarioIzquierdaBorde: rgb(255, 255, 255); //color del borde
$colorHoverMenuUsuario: rgb(255, 255, 255); //el hover
$fondoNavusuarioIzquierda: ""; // el fonde del menu

//Navegacion Vertical
$colorNavVertirical: rgba(211, 200, 200, 0.301);
$bordeNavVertical: rgb(0, 0, 0);

$colorHistorial: rgb(202, 194, 194);

//Fondos texturados
//$fondoNavusuarioIzquierda: url(../img/dark-circles.png); // el fonde del menu
//$fondoNavusuarioIzquierda: url(../../img/fondoImpresion/); // el fonde del menu
$fondoUno: url("/img/fondoImpresion/fondoImpresionUno.jpg");
$ImgFomdoInicio: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");

//Carteles
$cartelOscuro: #2b2b2b;
$colorEnviarOscuro: #2c7a7b;
$backgrounEvniarOscuro: #226a6b;
$cartelClaro: rgb(232, 231, 233);
$bordeCartel: rgb(43, 36, 36)